.curvy-goodness {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;

  svg {
    width: 100vw;
  }
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 50px;

  .home-search-bar {
    display: inline-flex;
    gap: 1rem;
    padding: 10px 20px;
    background-color: var(--brand-2);
    border-radius: 20px;
    width: 80%;
    max-width: 500px;

    svg {
      fill: var(--contrast);
    }

    input {
      background-color: transparent;
      border: 0px;
      width: 100%;
      font-size: 1rem;
    }
  }

  .home-add {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--green);
    color: black;
  }
}

main.home-main {
  margin-top: 80px;
  margin-bottom: 100px;
  gap: 3rem;
  display: grid;
  justify-items: center;

  article.home-article {
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    ul {
      background-color: var(--brand-3);
      list-style: none;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 1rem;

      > li {
        > div.home-today {
          display: flex;
          align-items: center;

          .today-time {
            font-size: 1.5rem;
            font-weight: bold;
            padding-right: 1rem;
          }

          .today-icon {
            svg {
              fill: var(--font-color);
            }
            padding-right: 0.5rem;
          }

          .today-text {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;
            gap: 1rem;

            .today-name {
              padding-right: 1rem;
            }
          }
        }

        > div.quick-link {
          display: grid;
          justify-items: center;
          width: 250px;

          svg {
            fill: var(--contrast);
          }

          > p {
            text-align: center;
          }

          a {
            margin-top: 5px;
            padding: 5px 10px;
            color: var(--brand-0);
            border-radius: 20px;
            cursor: pointer;
            background-color: var(--green);
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
}
