.exercise {
  max-width: 900px;
  width: calc(100% - 2rem);
  margin-top: 10px;
  margin: 0 1rem;

  > div {
    margin: 10px 0px;
  }

  .exercise-header {
    display: flex;
    justify-content: center;
  }

  .summary-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;

    .exercise-button {
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 1rem;
      color: var(--font-color);
      background-color: var(--brand-2);
    }

    .exercise-button:hover,
    .button-active {
      background-color: var(--brand-3);
    }
  }

  .exercise-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--brand-3);
    border-radius: 20px;
    padding: 20px;

    .exercise-stats {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .exercise-orm {
      display: flex;
      justify-content: center;
      background-color: var(--brand-4);
      padding: 20px;
      border-radius: 20px;
      align-items: center;

      > ul {
        list-style: none;
      }

      .orm-value {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        padding: 1.5rem;
        border-radius: 50%;
        border: 5px solid var(--green);
        margin-right: 10px;
      }

      .orm-text {
        display: flex;
        align-items: center;
      }
    }

    .exercise-chart {
      width: 100%;
    }
  }
  .exercise-log {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
