.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  position: relative;

  button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;

    svg {
      fill: var(--font-color);
    }
  }

  .top-bar-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--brand-2);
    padding: 10px 0px;
    border-bottom: 1px solid var(--theme-color);
    width: 100%;

    &.top-bar-home {
      background-color: var(--brand-3);
    }

    .top-bar-nav {
      margin-left: 1rem;
      display: grid;
      gap: 1rem;

      > a {
        display: flex;
        gap: 5px;
        padding-bottom: 5px;

        svg {
          fill: var(--font-color);
        }
      }
    }
  }
}
