.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
  position: relative;
  z-index: 1;
  max-width: 100% !important;
  background-color: var(--brand-3);

  button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;

    svg {
      fill: var(--font-color);
    }
  }

  .top-bar-nav-hor {
    display: flex;
    gap: 2rem;

    > a {
      display: flex;
      gap: 0.5rem;

      &:hover svg {
        fill: var(--green);
      }

      svg {
        fill: var(--font-color);
      }
    }
  }

  .top-bar-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--brand-2);
    padding: 10px 0px;
    border-bottom: 1px solid var(--theme-color);
    width: 100%;

    &.top-bar-home {
      background-color: var(--brand-3);
    }

    .top-bar-nav {
      margin-left: 1rem;
      display: grid;
      gap: 1rem;

      > a {
        display: flex;
        gap: 5px;
        padding-bottom: 5px;

        svg {
          fill: var(--font-color);
        }
      }
    }
  }
}
